#exbody {
    background: radial-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7) );
    padding-left: 5px;
}
.exheader {
    height: 60px;
    line-height: 60px;
}
#extitle {
    font-size: 1.5em;
}
.exlogo {
    height: 35px;
    margin: 10px;
    float: left;
}
#exnav > ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
#exnav > ul > li {
    display: inline-block;
    height: 50px;
    transition: 1.2s;
}
#exnav > ul > li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0 0;
}
#exnav > ul > li > a {
    color: #fff;
    text-decoration: none;
    font-family: 'museo300', sans-serif;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    transition: 0.7s;
}
#exnav > ul > li > a:visited {
    color: #fff;
}
#exactive {
    background-color: #fff;
    border-radius: 5px 5px 0 0; 
    box-shadow: 5px -1px 2px rgba(0, 0, 0, 0.1);
    color: #7fc241;
    z-index: -1;
}
#exactive > a, #exactive > a:visited {
    color: #000 !important;
}
.exbtn {
    min-width: 70px;
    height: 50px;
    line-height: 20px;
    border: 0;
    border-radius: 5px;
    font-size: 1.5em;
    font-family: 'museo500'
}
#scheme1 {
    background-color: #000;
    color: #fff;
}
#scheme2 {
    background-color: #800000;
    color: #fff;
}
#scheme3 {
    background-color: #85A314;
    color: #fff;
}
#scheme4 {
    background-color: #000;
    color: #ff780e;
}
#scheme5 {
    background-color: #f22f21;
    color: #fff;
}
#scheme6 {
    background-color: #149ee1;
    color: #ff780e;
}
#scheme7 {
    background-color: #000041;
    color: #fff;
}
#scheme8 {
    background-color: #000;
    color: #149ee1;
}
.gridbox-zhp {
    max-width: 95%;
}