/*
.container {
    display: flex;
    flex-basis: 85%;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 85%
}*/
.container {
    margin: 0 auto;
    width: 85%;
}