@media only screen and (max-width: 735px) {
    .site-title {
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 633px) {
    .container {
        width: 100%;
    }
    section {
        box-shadow: none;
    }
}
@media only screen and (max-width: 523px) {
    .navbar .active {
        background-color: transparent;
        border-bottom: 2px solid #fff;
        box-shadow: none;
    }  
    .active .navlink {
    color: #fff;
    }
}
@media only screen and (max-width: 506px) {
    .site-title, .site-subtitle {
        font-size: 1.2em;
    }
    .site-logo {
        max-width: 30%;
    }
}
    