#rodo-shadow {
     position: fixed;
    top: 0;
    left: 0;
   background-color: rgba(0, 0, 0, 0.6); 
    height: 100vh;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#rodo {
    background: #fff;
    position: relative;
    padding-top: 30px;
    width: 80%;
    z-index: 1000;
    height: 50%
}
#rodo-content {
    padding: 5px;
    height: 80%;
    width: 95%;
    overflow: scroll;
    margin: 0 auto;
    
}
#wypierdalaj-mi-z-tym {
    background-color: #000;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 50%;
    position: absolute;
    right: -20px;
    top: -20px;
/*    transform: translate(790px,-20px);*/
    transition: 0.7s;
}
#wypierdalaj-mi-z-tym:hover {
    transform: rotate(180deg);
}
