/*--------------------------------------------
TYPOGRAPHY
--------------------------------------------*/
@font-face {
    font-family: 'museo500';
    src: url('../font/Museo-Regular-500.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo300';
    src: url('../font/Museo-Regular-300.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo-sans';
    src: url('../font/Museo-Sans-300.otf');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    background-color: #7fc241;
    background: radial-gradient( rgba(127, 194, 65, 1), rgba(127, 194, 65, 0.7) );
    background-size: cover;
    color: #333;
    font-family: 'museo-sans', serif
}
h1, h2, h3, h4 {
    font-family: 'museo300';
}
h1 {
    color: #ff780e;
}
h2 {
    color: #61388b
}
h3 {
    color: #666;
}
/* ------------------------------
     HEADER
--------------------------------*/
header {
    padding: 10px; 
}
.site-logo {
    float: left;
    max-width: 100%;
    margin-right: 10px;
}
.site-title, .site-subtitle {
    color: #fff;
    font-family: 'museo300', sans-serif;
    margin-top: 0;
}
.site-title {
    margin-top: -2px;
    margin-bottom: 5px; 
}
.site-subtitle {
    margin-bottom: 0;
}
/*-------------------------------
  NAV
--------------------------------*/
nav {
    
}
.navbar {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.nav-item {
    display: inline-block;
    height: 50px;
    transition: 1.2s;
}
.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0 0;
}
.navlink {
    color: #fff;
    text-decoration: none;
    font-family: 'museo300', sans-serif;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    transition: 0.7s;
}
.navlink:visited {
    color: #fff;
}
.navbar .active {
    background-color: #fff;
    border-radius: 5px 5px 0 0; 
    box-shadow: 5px -1px 2px rgba(0, 0, 0, 0.1);
    z-index: -1;
}
.active .navlink {
    color: #7fc241;
}
/*-------------------------------
   SECTION
-------------------------------*/
section {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 0 5px 5px 5px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
    z-index: 99;
    min-height: 70vh;
}
/*-------------------------------------
FOOTER
--------------------------------------*/